<html>
  <%-include header.ejs %>
  <body>
    <%-include nav.ejs%>
    <h2>Hey <%=user%></h2>
    <%insult.forEach(function(x){%>
      <ul class='inline-list'>
        <li><h4><a href='/thread/post/<%=x.thread_id%>'><%=x.insult%></a></h4></li>
        <li><h4><%=x.tVotes%>&deg burn</h4></li>
        <%var w = 0%>
        <%for(var r = 0; r < comment.length; r++){%>
          <%if(x.thread_id === comment[r].thread_id){%>
            <%w += 1%>
          <%}%>
        <%}%>
        <li><h4>help count: <%=w%></h4></li>
      </ul>
    </br>
      <ul>
        <%var z = 0%>
        <%for(var i = 0; i < comment.length && z < 3; i++){%>
          <%if(x.thread_id === comment[i].thread_id){%>
            <li><div class='rows'><%=comment[i].comeback%></div></li><p>
            <%z += 1%>
          <%}%>
        <%}%>
      </ul>
      <div class='row'>
        <a href='/thread/post/<%=x.thread_id%>'>more</a>
      </div>
    </p>
    </p>
    <%})%>
    <div class='row'>
        <div class='large-4 small-4 columns'><form action='/thread/new' method='GET'>
        <button class='small button radius'>New Thread</button>
      </form></div>

        <button class='small button radius' onclick="alert('API bit the dust! Finding replacement. Call up your high school bully in the meantime for a random BURN')">Random Burn</button>
      </form></div>
    </div>
  </body>
  <script type='text/javascript' src="script.js"></script>
  <script src="/jquery.js"></script>
  <script src='/foundation.js'></script>
  <script src='/foundation.topbar.js'></script>
  <script>
    $(document).foundation();
  </script>
</html>
